<?xml version="1.0" encoding="utf-8"?>

<beans>
    <bean id="userDao" class="com.fanlinchong.springframework.test.bean.UserDao"/>
    <bean id="userService" class="com.fanlinchong.springframework.test.bean.UserService">
        <property name="userId" value="10003"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>